<h1>User's Show Page</h1>
Welcome <%=@user.name%>!<br>

Your Hikes:
<ul>
<%@user.hikes.all.each do |h|%>
<li><%=h.date.strftime("%B %d, %Y")%> - <%=link_to h.trail.name, user_hike_path(current_user.id, h.id)%></li>
<%end%>
</ul>

